<div class="container">
  <h1>Create a bookmark</h1>
  <%= render 'form', list: @list, bookmark: @bookmark %>
  <br>
  <%= link_to "Back to list", list_path(@list), class: "btn btn-primary" %>
</div>
