// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card";
@import "banner";

.btn {
  background-color: rgb(47, 218, 98);
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
}
